* {
    margin: 0;
    padding: 0;

  
}
.body {
    background-color:  rgba(154, 154, 154, 0.686);
}
#navigation {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(52, 51, 50);
    color: white;
    height: 30px;
   
}

.navlists {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    

    
    
   
   
}
.navlists li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
  
    
   
}
.navlists li a:hover {
    color: hsl(29, 100%, 54%);
}
.burger{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
.close {
    display: none;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
}
.name {
    font-size: 1.4em;
    font-weight: bold;
    color:hsl(257, 98%, 34%);
    text-align: center;

}

.more {
    font-size: 0.8em;
    color: hsl(253, 96%, 11%);
    text-align: center;
    justify-content:center;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

   
    
#profile-pic {
    display: flex;
    width: 400px;
    margin-top: 20px;
}

#profile-pic img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid hsl(257, 98%, 34%);
}

#about-me{
justify-content: center;
flex-direction: row;


}

#about-me p{
    text-align: center;
    padding: 0px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
text-wrap: balance;
}


h2{
    text-align: center;
    color: rgb(2, 6, 2);
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: italic;
    margin-top: 40px;
}

#projects{
 margin: 50px;
 display: flex;
  gap: 30px;
flex-direction: column;
margin-top: 10px;
}


.TEACH2GIVE{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 50px;
   border: 2px solid #76737a;
  
   background-color: rgb(52, 51, 50);


}


    

.millenium{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 50px;
    border: 2px solid #76737a;
   
   background-color: rgb(52, 51, 50);
}


.seo{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 50px;
      border: 2px solid #76737a;
   
   background-color: rgb(52, 51, 50);
}


.cybersecurity{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color:white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 50px;
     border: 2px solid #76737a;
   
   background-color: rgb(52, 51, 50);
}


.dataanalytics{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color:white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 50px;
    border: 2px solid #76737a;
   background-color: rgb(52, 51, 50)
}

.hd{
    font-weight: bold;
    font-size: 1.4em;
    color: hsl(29, 100%, 54%);
}

#experience{
        display: flex;
    flex-wrap: wrap;
  gap: 15px ;
  flex-direction:column;
  align-items: center;
  margin-top: 20px;
}

  .teach2{
    text-align: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 500px;
   border: 2px solid #434137e0;
   max-width: 700px;
   background-color:hsl(253, 96%, 11%);
}

.KCB{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 500px;
   border: 2px solid #434137e0;
   max-width: 700px;
   background-color:hsl(253, 96%, 11%)
}

#skills{
        display: flex;
    flex-wrap: wrap;
  gap: 15px ;
  flex-direction:column;
  align-items: center;
  margin-top: 20px;
}
#skills div{
           display: flex;
    flex-wrap: wrap;
  gap: 15px ;
  flex-direction:row;
  align-items:center;
  justify-content: space-evenly;
  margin-bottom: 0px;

}
.s p{
     text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: black;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 500px;
   border: 2px solid #6b5c5ce0;
   max-width: 500px;
   background-color:hsla(190, 63%, 14%, 0.373)

}

.y p{
     text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color:white;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 500px;
   
   max-width: 200px;
   background-color: rgb(52, 51, 50);
}


h4{
    color: #2d2f34;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
h4:hover{
    color: hsla(0, 0%, 5%, 0.973);
}
#certification{
           display: flex;
    flex-wrap: wrap;
  gap: 15px ;
  flex-direction:column;
  align-items: center;

}
#certification div{
        display: flex;
    flex-wrap: wrap;
  gap: 15px ;
  flex-direction:row;
  align-items:center;
  justify-content: space-evenly;

}
.tech p{
     text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color:  hsl(29, 100%, 54%);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 30px;
   border: 0px solid hsla(258, 21%, 16%, 0.878);
   max-width: 200px;
   background-color: rgb(52, 51, 50);

}


.digital p{
     text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: hsl(257, 98%, 34%);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 30px;
   border: 0px solid hsla(255, 33%, 2%, 0.878);
   max-width: 200px;
   background-color:hsla(190, 63%, 14%, 0.373)

}
.policy p{
     text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color:hsl(29, 100%, 54%);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 30px;
   border: 0px solid #2b2e2de0;
   max-width: 200px;
   background-color:rgb(52, 51, 50);
   
}
.leadership p{
     text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
    color: hsl(257, 98%, 34%);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 30px;
   border: 0px solid #251c4ae0;
   max-width: 200px;
   background-color:hsla(190, 63%, 14%, 0.373)

}

#contacts{
     display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-content: center;
}
#contacts a{
    color: #010506;
    text-decoration: none;
}
#contacts a:hover{
    color: #f6f6f8;
}
.finale{
    justify-content: center;
    align-items: center;
       display: flex;
    text-align: center;
   
    
}
.finale p{
font-style: italic;

}


h3{    text-align: center;
    color: rgb(2, 6, 2);
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
   

}

footer{
    background-color: rgb(96, 95, 94);
}
@media screen and (max-width: 1450px)
{
    #profile-pic {
        width: 300px;
    }
    #skills div{
        background-color: rgb(103, 91, 76);
    display: flex;
    flex-wrap: wrap;
  gap: 15px ;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
}
#contacts{
    background-color:rgb(52, 51, 50);
     display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
}
@media screen and (max-width: 1100px)
{
    #profile-pic {
        width: 250px;
    }
    .name {
    font-size: 1.2em;
    font-weight: bold;
    color: #121415;
    text-align: center;

}
.more {
    font-size: 0.6em;
    color: #010506;
    text-align: center;
    justify-content:center;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    #about-me p{
    text-align: center;
    padding: 0px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
font-size: 0.95em}
    .TEACH2GIVE{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
    color: rgb(219, 208, 208);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   border: 2px solid #76737a;
  
   background-color:rgb(42, 40, 40)


}
.millenium{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
    color: rgb(219, 208, 208);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    border: 2px solid #76737a;}

.seo{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
    color: rgb(219, 208, 208);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
      border: 2px solid #76737a;
   
   background-color:rgb(42, 40, 40)
}
.cybersecurity{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
    color:rgb(219, 208, 208);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

     border: 2px solid #76737a;
   
   background-color:rgb(42, 40, 40)
}
.dataanalytics{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
    color:rgb(219, 208, 208);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    border: 2px solid #76737a;
   background-color:rgb(42, 40, 40)
}
  .teach2{
    text-align: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
    color: rgb(12, 12, 12);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 500px;
   border: 2px solid #434137e0;
   max-width: 700px;
   background-color:hsla(144, 45%, 23%, 0.373)
}
.KCB{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
    color: rgb(12, 12, 12);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 500px;
   border: 2px solid #434137e0;
   max-width: 700px;
   background-color:hsla(144, 45%, 23%, 0.373)
}

.navlists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    display: none;
    background-color: rgb(52, 51, 50);
    padding: 20px;
    margin-top: 0px;
}
.navlists.show {
    display: flex;

}
.burger, .close {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
}